@charset 'utf-8';
@media screen and (min-width: 768px) {
    header {
        background-image: url(../imagens/paz-mental-1024x680.jpg);
        
    }

    .menu > .banner-opcoes {
        display: none;
        background-color: var(--cor-three);
        margin: 15px auto 10px auto;
        box-shadow: 1px 1px black;
        width: 50vw;
        
    }

    .banner h1:hover {
        background-color: var(--cor-three);
        color: black;
        cursor: pointer;
    }

    .main-wrapper {
        display: flex;
        flex-direction: row-reverse;
        padding: 10px;
    }

    .wrapper {
        display: grid;
        grid-template-columns: 2;
        grid-template-rows: 3;
        align-content: space-around;
        justify-content: end;
        align-items: center;
        gap: 35px;
        margin-top: 15px;
        background-color: #f5fffe;
        padding-right: 90px;
        height: 50vh;
        width: 100vw;
        border: none;
        
    }

    .caixa1 {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
        cursor: pointer;
    }

    .caixa2 {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
        cursor: pointer;

    }

    .caixa3 {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 2;
        cursor: pointer;

    }

    .caixa4 {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2;
        cursor: pointer;

    }
    .wrapper2 {
        display: flex;
        align-items: center;
        text-align: center;
        background-color: white;
    }
    
    #descca1 {
        margin-left: 50px;
        padding: 15px;
        background-color: #f5fffe;
        border: 2px solid black;
    }

    #descca2 {
        margin-left: 50px;
        padding: 15px;
        background-color: #f5fffe;
        border: 2px solid black;
    }

    #descca3 {
        margin-left: 50px;
        padding: 15px;
        background-color: #f5fffe;
        border: 2px solid black;
    }

    #descca4 {
        margin-left: 50px;
        padding: 15px;
        background-color: #f5fffe;
        border: 2px solid black;
    }

    section.lista {
        display: none;
    }

    section.divisao {
        display: grid;
        grid-template-columns: 2;
        grid-template-rows: 1;
        gap: 10px;
        padding: 20px;
        background-color: var(--cor-second);
        border-top: 4mm ridge yellow;
        border-bottom: 4px solid yellow;
    }

    .purple {
        display: none;
    }

    .green {
        display: flex;
        align-items: center;
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
        width: 500px;
        background-color: var(--cor-second);
        color: #E5EA84;
        border: none;
        padding: 5px;
        font-size: 1.5em;
        text-align: center;
    
    }

    .red {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
        margin: auto;
        width: 600px;
        height: 600px;
        background-color: white;
        border: 4mm ridge rgba(211, 220, 50, .6);
    }

    .loimg {
        display: none;
    }

    .loimg2 {
        display: flex;
        flex-direction: row-reverse;
        
    }

    .loimg2 img {
        width: 200%;
    }

}

