@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Saira:wght@400;500&display=swap');
@counter-style emoji {
    system: cyclic;
    symbols: "\1F69A";
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: var(--fonte-padrao);
}

:root {
    --cor-main:#FFC53A;
    --cor-second:#1F271B;
    --cor-three: #d3cdcd;

    --fonte-padrao: 'Saira', sans-serif;
}

header {
    display: flex;
    justify-content: end;
    background-color: var(--cor-main);
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.267);
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-three);
    border-left: 5px solid black;
    height: 300px;
    min-width: 320px;
    max-width: 200px;

}

.banner h1 {
    background-color: var(--cor-main);
    color: white;
    text-shadow: 1px 2px 0 black;
    box-shadow:-5px 4px 0px 10px black;
    padding: 0px 5px 0px 100px;
    text-align: center;
}

/*main*/


.menu > .banner-opcoes {
    background-color: var(--cor-three);
    margin: 15px auto 10px auto;
    box-shadow: 1px 1px black;
    width: 95vw;
    
}

.menu h2 {
    background-color: var(--cor-main);
    width: 100px;
    border-right: 1px solid black;
    font-weight: 400;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(231, 177, 107);
    border-bottom: 2px solid black;
    height: 200px;
}

.caixa1 {
    background-color: var(--cor-main);
    padding: 20px;
    box-shadow: 5px 5px 0px 2px black;
    text-align: center;
}

.caixa1:hover {
    background-color: var(--cor-three);
}

.caixa2 {
    background-color: var(--cor-main);
    padding: 20px;
    box-shadow: 5px 5px 0px 2px black;
    text-align: center;
}

.caixa2:hover {
    background-color: var(--cor-three);
}

.caixa3 {
    background-color: var(--cor-main);
    padding: 20px;
    box-shadow: 5px 5px 0px 2px black;
    text-align: center;
}

.caixa3:hover {
    background-color: var(--cor-three);
}

.lista {
    display: block;
    background-color: var(--cor-main);
    padding: 20px 0px 20px 50px;
}

ul {
    list-style: inside;
    list-style: emoji;
    columns: 2;
}

.divisao {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 2;
    gap: 10px;
    padding: 20px;
    background-color: var(--cor-second);
    border-bottom: 4px solid yellow;
}

.purple {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    margin: auto;
    width: 180px;
    height: 200px;
    background-color: white;
    border: 2px solid red;
    font-size: .7em;
    font-weight: 500;
    text-align: center;
 
}

.green {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 140px;
    background-color: var(--cor-main);
    border: 2px solid white;
    padding: 5px;
    font-size: .7em;
    text-align: center;

}

.red {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    margin: auto;
    width: 180px;
    height: 200px;
    background-color: white;
    border: 4mm ridge rgba(211, 220, 50, .6);
}

.red img {
    width: 100%;
}

